#profile {
    padding-top: 2.5rem;
}

#profile .card {
    border: none;
}
#profile .col-sm-2 {
    text-align: left;
}

#profile .card-body .row {
    padding-left: 10px;
}

#user-password {
    border: none;
    background: transparent !important;
    text-align: center !important;
}
.allergies {
    list-style: none;
}

hr {
    width: 90%;
}
.btn-update {
  font-size: 18px;
  color: #f49839;
  border: 1px solid #f49839;
}

.btn-update:hover {
  color: #fff;
  background-color: #f49839;
}

  
@media screen and (max-width:767px) {
    hr {
        width: 100%;
    }
}