/*
.form-check-input {
    margin-left: 1000px;
}
*/
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.nombre-esquema{
    font-size: x-large;
    margin-right: 290px;
}

.pagination {
    margin: 0px !important;
    }

.form-check-label {
  padding-left: 5px;
}

.btn-delete {
  font-size: 18px;
  color: #f49839;
}

.btn-delete:hover {
  color: #fff;
  background-color: #f49839;
}
.page-link {
  color: #abb545 !important;
  border: none;
}

.there{
  border: 1px solid #abb545 !important;
}