/*
.form-check-input {
    margin-left: 1000px;
}
*/
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.nombre-esquema{
    font-size: x-large;
}

.pagination {
    margin: 0px !important;
    }